---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    
    <span class="post-date">
    {% assign m = post.date | date: "%-m" %}
      {{ post.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Janeiro
  {% when '2' %}Fevereiro
  {% when '3' %}Março
  {% when '4' %}Abril
  {% when '5' %}Maio
  {% when '6' %}Junho
  {% when '7' %}Julho
  {% when '8' %}Agosto
  {% when '9' %}Setembro
  {% when '10' %}Outubro
  {% when '11' %}Novembro
  {% when '12' %}Dezembro
{% endcase %}
{{ post.date | date: "%Y" }}
    </span> •
    {% raw %}
    <span class="post-words">
       {% assign words = content | number_of_words %}
  {% if words < 270 %}
    1 min leitura
  {% else %}
    {{ words | divided_by:135 }} mins leitura
  {% endif %}</span>
      {% endraw %}
  </div>
</article>
{% endfor %}

{% include pagination.html %}
